<footer class="footer">
	<div class="container">
		<div class="footer__content">
			<ul class="footer__list list">
				<li class="list__item"><a href="#">Terms & Conditions</a></li>
				<li class="list__item"><a href="#">Cookies</a></li>
				<li class="list__item"><a href="#">Contacts</a></li>
				<li class="list__item"><a href="#">Careers</a></li>
				<li class="list__item"><a href="#">Brand Guide</a></li>
			</ul>
			<div class="social">
				<p class="social__title">Our social media:</p>
				<ul class="social__list">
					<li class="social__item">
						<a href="#">
							<svg><use xlink:href="../assets/svgSprite/sprite.svg#twitter"></use></svg>
						</a>
					</li>
					<li class="social__item">
						<a href="#">
							<svg><use xlink:href="../assets/svgSprite/sprite.svg#facebook"></use></svg>
						</a>
					</li>
					<li class="social__item">
						<a href="#">
							<svg><use xlink:href="../assets/svgSprite/sprite.svg#telegram"></use></svg>
						</a>
					</li>
					<li class="social__item">
						<a href="#">
							<svg><use xlink:href="../assets/svgSprite/sprite.svg#tiktok"></use></svg>
						</a>
					</li>
					<li class="social__item">
						<a href="#">
							<svg><use xlink:href="../assets/svgSprite/sprite.svg#instagram"></use></svg>
						</a>
					</li>
					<li class="social__item">
						<a href="#">
							<svg><use xlink:href="../assets/svgSprite/sprite.svg#linkedin"></use></svg>
						</a>
					</li>
					<li class="social__item">
						<a href="#">
							<svg><use xlink:href="../assets/svgSprite/sprite.svg#vk"></use></svg>
						</a>
					</li>
					<li class="social__item">
						<a href="#">
							<svg><use xlink:href="../assets/svgSprite/sprite.svg#youtube"></use></svg>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>

<script src="/js/main.js"></script>
