<header class="header">
	<div class="container">
		<div class="header-content">
			<a href="#" class="logo"> LOGO </a>
			<div class="header-body">
				<div class="login-block">
					<div class="translater">
						<button class="translater__active btn">
							<svg class="translater__icon"><use xlink:href="../assets/svgSprite/sprite.svg#planet"></use></svg>
							<span class="lang">EN</span>
						</button>
						<ul id="translater" class="translater__select">
							<li>EN</li>
							<li>RU</li>
						</ul>
					</div>
					<a href="#" class="btn login">LOG IN</a>
					<a href="#" class="btn btn--primary sign-up">SIGN UP</a>
					<button class="menu-btn">
						<span></span>
					</button>
				</div>

				<nav class="menu">
					<ul class="menu__list">
						<li class="menu__item"><a href="#">About us</a></li>
						<li class="menu__item"><a href="#">Brands</a></li>
						<li class="menu__item"><a href="#">Commissions</a></li>
						<li class="menu__item"><a href="#">News</a></li>
						<li class="menu__item"><a href="#">Contact us</a></li>
						<li class="menu__item"><a href="#">Careers</a></li>
					</ul>
					<a href="#" class="btn login-mobile">LOG IN</a>
					<a href="#" class="btn sign-up-mobile">SIGN UP</a>
				</nav>
			</div>
		</div>
	</div>
</header>
